MONGO_SERVER_HOST=localhost
MONGO_SERVER_PORT=27017
MONGO_DATABASE_NAME="library"
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password
ME_CONFIG_MONGODB_ADMINUSERNAME=root
ME_CONFIG_MONGODB_ADMINPASSWORD=password
ME_CONFIG_MONGODB_URL=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:${MONGO_SERVER_PORT}/?authSource=admin
ME_CONFIG_BASICAUTH_USERNAME=mexpress
ME_CONFIG_BASICAUTH_PASSWORD=mexpress